<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
    <h2 class="title">Create a new blog</h2>
    <div class="form">
        <form action="" method="">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <label for="topic">Topic</label><br>
        <select class="select"  name="topic" id="topic">
            <option value="food">Food</option>
            <option value="finance">Finance</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="tech">Technology</option>
        </select><br>
        <input class="btn-create" type="submit" value="create" name="submit">
    </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>