<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>User</h1>
    <p> <%= person.fname %> </p>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
