<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <h2 class="title">Signin</h2>
        <div class="form">
            <form action="/signin" method="POST">
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br>
                <input class="btn" type="submit" value="signin" name="submit">
                <p>Doesn't have an account? <a href="/signup" class="link">signup</a></p>

            </form>
        </div>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>
