<nav class="nav">
  <ul>
    <li class="nav-main"><a href="/">Node Blog</a></li>

    <li><a href="/blogs/create-blog">Create</a></li>

    <li><a href="/about">About</a></li>

    <li>
      <a href="/signup">Signup</a>
    </li>
  </ul>
</nav>
