<nav class="nav">
    <ul >
        <a href="">
            <li class="nav-elements">Home</li>
        </a>
        <a href="">
            <li class="nav-elements">Create</li>
        </a>
        <a href="">
            <li class="nav-elements">About</li>
        </a>
        <a href="">
            <li class="nav-elements">Signup</li>
        </a>
        
    </ul>
</nav>