<nav class="nav">
  <ul>
    <li class="nav-main"><a href="/">Node Blog</a></li>

    <li><a href="/blogs/create-blog">Create</a></li>

    <li><a href="/about">About</a></li>

    <% if(!user) { %>
    <li>
      <a href="/signin">Signin</a>
    </li>
    <% } else { %>
    <li>Welcome, <%= user.fname %> <%= user.lname %></li>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
