<nav class="nav">
  <label class="nav-main"><a href="/">Node Blog</a></label>

  <ul>
    <li class="nav-elm"><a href="/blogs/create-blog">Create</a></li>

    <li class="nav-elm"><a href="/about">About</a></li>

    <% if(!user) { %>
    <li class="nav-elm">
      <a href="/users/signin">Signin</a>
    </li>
    <% } else { %>
    <li class="nav-elm">
      <a href="/users/<%= user._id %>"><%= user.fname %> <%= user.lname %></a>
    </li>
    <li class="nav-elm">
      <a href="/users/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
