<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
    <h2 class="title">About</h2>
    <div class="grid-container">
        <div class="about-one">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae
         </p>
        </div>
        <div class="about-two">


        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Possimus repellat optio ducimus sequi aspernatur alias quia,
            esse ipsum odio cumque facere voluptatum minima iste, beatae,
            magni veritatis voluptate quidem? In!
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet nemo magnam quisquam aut voluptates, fugit at
            necessitatibus illum inventore minus molestiae sunt dicta 
            cumque reiciendis sit voluptate, aliquid iusto quae</p>

        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
