<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
    <h2 class="title">Hello world!</h2>
    <div class="content grid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam impedit earum ad perspiciatis! Doloribus fuga repellendus, asperiores ea esse rem ipsa ratione quos harum quod. Modi animi consequuntur quod?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, eaque tempora vitae pariatur repellat deleniti aperiam obcaecati fugit esse soluta dolorum distinctio velit molestiae debitis aliquid reiciendis ad illum hic!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam atque, cupiditate dolore consequatur ipsa aut cum alias provident explicabo tempora, officia iste praesentium harum voluptatum, autem cumque quibusdam in voluptas!
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa deserunt eius excepturi ex praesentium voluptatum minima, vel maiores minus omnis voluptatibus eos dolor repellendus expedita ratione doloremque laudantium repellat illum!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, magnam, molestias atque sit, dicta id modi fugit officia delectus odio vitae quia eum? Maxime quo debitis reiciendis quos, excepturi iste?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur accusamus tempore pariatur quos aspernatur minima porro illo praesentium animi mollitia, quidem asperiores sunt obcaecati quibusdam voluptatum dicta? Error, quas tenetur.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero officia dolor ad voluptates, laboriosam repudiandae, illum tempora nemo architecto tenetur id, sunt maxime esse aliquam animi? Corrupti, odio consequuntur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam consectetur odit facilis. Ipsum, beatae doloribus. Explicabo aliquam soluta, eum, reiciendis consequuntur iste, adipisci quod eaque vero sit iusto alias!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ullam facilis sunt impedit cum quae est ut. Soluta aliquam vel quibusdam iusto minima sit ullam obcaecati rerum suscipit? Optio, voluptatem.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero officia dolor ad voluptates, laboriosam repudiandae, illum tempora nemo architecto tenetur id, sunt maxime esse aliquam animi? Corrupti, odio consequuntur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam consectetur odit facilis. Ipsum, beatae doloribus. Explicabo aliquam soluta, eum, reiciendis consequuntur iste, adipisci quod eaque vero sit iusto alias!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ullam facilis sunt impedit cum quae est ut. Soluta aliquam vel quibusdam iusto minima sit ullam obcaecati rerum suscipit? Optio, voluptatem.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>