<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h2 class="title">Signin</h2>
        <div class="form">
            <form action="" method="">
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password</label><br>
                <input type="text" id="password" name="password"><br>
                <input type="submit" value="signup" name="submit">
            </form>
            <p>Doesn't have an account? <a href="/signup">signup</a></p>
        </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>