body{
    border: 0px;
    margin: 0px;
  
    font-family: 'poppins', sans-serif;
}

.nav a{
    text-decoration: none;
    color: #000000;
}
.nav-elements{
   list-style-type: none;
   display: inline;
   padding-right: 20px;
  
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.form {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}

.form input{
    margin: 5px;
}

.form select{
    margin: 5px;
}

.content{
    margin: 60px;
    text-align: justify;
}

.select{
    text-align: center;
    background-color: #80ed99;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 8px 60px ;
   
}
.select:hover{
    background-color: #57cc99;
}

